@import 'colors', 'fonts', 'measures';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--label-primary-default);
  background: var(--background-primary); 
}

.section {
  padding: 6rem;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  line-height: var(--font-line-height-title);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-600);
}

h1 {
  letter-spacing: var(--font-letter-spacing-title);
}

h2, h3, h4, h5, h6 {
  letter-spacing: var(--font-letter-spacing-body);
}

p {
  color: inherit;
  line-height: 150%;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--font-letter-spacing-body);
}

a {
  line-height: var(--font-line-height-body);
  text-decoration: none;
  color: var(--label-accent-default);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--font-letter-spacing-body);
}

span {
  line-height: var(--font-line-height-title);
  font-style: italic;
  color: var(--label-accent-default);
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-500);
}

pre {
  color: inherit;
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-500);
}

.footer {

}
