.section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
 font-size: var(--font-size-64); 
}

.listing {
  list-style: none;
}

.list-item {
  gap: 2rem;
  display: flex;
  align-items: center;
  font-size: var(--font-size-22);
}

.list-item > span {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-size: var(--font-size-20);
  color: var(--label-primary-disabled);
}

@media screen and (max-width: 400px) {
  .section {
    padding: 1.5rem;
  }

  .list-item {
    gap: 0.25rem;
    align-items: flex-start;
    flex-direction: column;
  }
}
