.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  margin-bottom: 2rem;
  font-size: var(--font-size-64); 
}

.listing {
  list-style: none;
  padding-left: 0rem;
}

.list-item {
  gap: 2rem;
  display: flex;
  align-items: center;
  font-size: var(--font-size-22);
}

.list-item > span {
  font-style: normal;
  font-family: "Inter";
  font-size: var(--font-size-20);
  color: var(--label-primary-disabled);
}

