.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading--title {
  font-weight: 400; 
  font-size: var(--font-size-80);
}

nav {
  justify-content: space-between;
}

.heading--anchor:focus, .heading--anchor:hover {
  text-decoration-thickness: .375rem;
}
