.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.container {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: normal;
  font-size: var(--font-size-48);
}

.title > span {
    color: inherit;
    font-style: normal;
    font-weight: bold;
}

.nav-row {
  display: flex;
  gap: 2rem;
}

.link {
    font-size: var(--font-size-22);
}

.email {
  text-decoration: underline;
}
