.page__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__container {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.heading__container {
  max-width: 864px;
}

.heading__title {
  margin-bottom: .25rem;
  letter-spacing: -2.88px;
  font-size: var(--font-size-120);
  color: var(--label-accent-default);
  font-weight: var(--font-weight-400);

  span {
    font-style: italic;
    color: var(--label-primary-disabled);
    font-family: var(--font-family-accent);
  }
}

.heading__title-italic {
  @extend .heading__title;
  font-style: italic;
}

.heading__subtitle {
  font-size: var(--font-size-20);
  color: var(--label-accent-default);
}

.navigation__list {
  display: flex;
  gap: 2rem;
}

.navigation__item {
  font-size: var(--font-size-22);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .navigation__list {
    gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
  }
}
