.heading--title {
  font-weight: 400; 
  font-size: var(--font-size-120);
}

.heading--anchor {
  font-style: italic;
  font-family: var(--font-family-title);
  line-height: var(--line-height-title);
}

nav {
  justify-content: space-between;
}

.heading--anchor:focus, .heading--anchor:hover {
  text-decoration-thickness: .5rem;
}
