@import 'measures';

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;

  color: var(--label-primary-default);
  background: var(--background-primary);
}

menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu__item--text {
  transition: .5s;
  text-decoration: none;
  color: var(--label-primary-default);
  font-size: var(--font-size-20);
}

.menu__item--text:hover, .menu__item--text:focus {
  font-style: italic;
}

footer {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: var(--page-padding);
}

.section__container--row {
  justify-content: space-evenly;
}

.section__container--center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.section__container--column {
  flex-direction: column;
  justify-content: space-between;
}

.content__listing {
  margin: 0;
  list-style: none;
  padding-left: 0rem;
}

.content__list-item {
  gap: 2rem;
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  font-size: var(--font-size-22);
}

.content__list-item > span {
  font-style: normal;
  font-size: var(--font-size-20);
  font-family: var(--font-family-body);
  color: var(--label-primary-disabled);
}

.content__card {
  width: 40vw;
}

@media screen and (max-width: 768px) {
  .section__container--row {
    height: unset;
    flex-direction: column;
  }

  .content__card {
    width: 100%;
  }

  .content__list-item {
    gap: .5rem;
    flex-direction: column;

    * {
      width: 100%;
    }
  }

}

