<main class="page__container">
  <article class="content__container">
    <header class="content__header">
      <a href="/" class="page__return">&larr; Voltar para Início</a>
      <h1 class="content__title">
        {{ page.title }}
      </h1>
      {% set taxonomy_term = page.taxonomies.assunto | first %}
      <span class="content__subtitle">{{ page.extra.longDate}} em <a href="/assunto/{{ taxonomy_term | lower }}">{{ taxonomy_term }}</a></span>
    </header>
    {{ page.content | safe }}
    <footer class="content__footer">
      <p class="content__footer-signature">Thiago Campos, em Mantiqueira de Bragança</p>
      <div class="content__footer-actions">
        <a class="content__footer-up" href="#top">Voltar ao topo</a>
        <a class="content__footer-email" href="mailto:thiago@thigcampos.com?subject={{ page.title }}">Comente por E-mail</a>
      </div>
    </footer>
  </article>
</main>
