{% block head %}
<link rel="stylesheet" href="/styles/listing.css" /> 
{% endblock head %}

{% macro extract_first_paragraph(content) %}
    {% set paragraphs = content.split('</p>') %}
    {% if paragraphs|length > 0 %}
        {% set first_p = paragraphs[0] ~ '</p>' %}
        {% if '<p' in first_p %}
            {{ first_p.split('>', 1)[1].rsplit('<', 1)[0] }}
        {% else %}
            {{ first_p }}
        {% endif %}
    {% else %}
        {{ content }}
    {% endif %}
{% endmacro %}

<main> 
    <section class="flex-column">
        <a href="/" class="button">&larr; Retornar</a>
        <ol aria-label="{{ page.title }}">
            {% for post in page.pages %}
            <li class="post-container">
                <span class="disabled">{{ post.date }}</span>
                <h3>{{ post.title }}</h3>
                <div class="excerpt">{{ extract_first_paragraph(post.content) }}</div>
                <a href="{{ post.url | safe }}">Leia mais &rarr;</a>
                <hr>
            </li>
            {% endfor %}
        </ol>
    </section>
</main>
