{% extends "base.html" %}

{% block head %}
<title>Sobre Mim | Thiago Campos</title>
<meta name="description" content="Engenheiro de software e entusiasta de design. Residindo nas belas paragens da Mantiqueira de Bragança, atuo há dois anos em projetos internacionais para uma multinacional com sede em Nova Iorque" />
<link rel="stylesheet" href="{{ get_url(path='pages/about.css', trailing_slash=false) | safe }}" />
{% endblock head %}

{% block content %} 
<main>
  <a href="/"><- Voltar para o Início</a>
  <section class="content__container">
    {{ page.content | safe }} 
  </section>
</main>
{% endblock content %}
