{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} | Escritos</title>
<meta name="description" content="{{ page.extra.summary }}" />
<link rel="stylesheet" href="{{ get_url(path="pages/escrito.css", trailing_slash=false) | safe }}" />
{% endblock head %}

{% block content %}
<section class="section">
  <div class="container">
    <a href="{{ get_url(path='blog') }}"><- Voltar para Escritos</a>
    <h1 class="title">
      {{ page.title }}
    </h1>
    <span>{{ page.extra.longDate}}</span>
    {{ page.content | safe }}
  </div>
</section>
{% endblock content %}
{% block footer %}
{% include "license.html" %}
{% endblock footer %}
