{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} | Escritos</title>
<meta name="description" content="{{ page.extra.summary }}" />
<link rel="stylesheet" href="{{ get_url(path="pages/escrito.css", trailing_slash=false) | safe }}" />
{% endblock head %}

{% block content %}
<main class="page__container">
  <section class="content__container">
    <a href="{{ get_url(path='blog') }}" class="page__return"><- Voltar para Escritos</a>
    <h1 class="content__title">
      {{ page.title }}
    </h1>
    <span>{{ page.extra.longDate}}</span>
    {{ page.content | safe }}
  </section>
</main>
{% endblock content %}
{% block footer %}
{% include "license.html" %}
{% endblock footer %}
