{% extends "base.html" %}

{% block head %}
<title>Líricos por Thiago Campos</title>
<meta name="description" content="Em 'Líricos', as palavras dançam em versos que ecoam emoções profundas. Cada post é uma viagem poética, um mergulho nas sutilezas da alma. Descubra a magia das letras que revelam sentimentos, pensamentos e narrativas poéticas, criando um universo onde a poesia é a linguagem mais pura da expressão." />
{% endblock head %}

{% block content %}
{% include "partials/listing.html" %}
{% endblock content %}
