{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} | Líricos</title>
<meta name="description" content="{{ page.description }}" />
{% endblock head %}

{% block content %}
<main>
    <article>
        <header>
            <a href="/liricos/" class="button">&larr; Retornar</a>
            <h1>
                {{ page.title }}
            </h1>
        </header>
        {{ page.content | safe }}
        <footer>
            <a class="button" href="#top">Voltar ao topo</a>
            <a class="button-accent" href="mailto:escritos@thigcampos.com?subject={{ page.title }}">Comente por E-mail</a>
            </div>
        </footer>
    </article>
</main>
{% endblock content %}
