{% extends "base.html" %}

{% block head %}
<title>Líricos por Thiago Campos</title>
<meta name="description" content="Em 'Líricos', as palavras dançam em versos que ecoam emoções profundas. Cada post é uma viagem poética, um mergulho nas sutilezas da alma. Descubra a magia das letras que revelam sentimentos, pensamentos e narrativas poéticas, criando um universo onde a poesia é a linguagem mais pura da expressão." />
<link rel="stylesheet" href="{{ get_url(path='pages/blog.css', trailing_slash=false) | safe }}" />
{% endblock head %}

{% block content %}
<main class="page__container"> 
  <a href="/"><- Voltar para o Início</a>
  <section class="content__container">
    <h1 class="content__title">
      {{ section.title }}
    </h1>
    <ul class="content__listing">
      <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
      {% for page in section.pages %}
      <li class="content__list-item">
        <span>{{ page.extra.longDate }}</span>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock content %}
{% block footer %}
{% include "license.html" %}
{% endblock footer %}
