{% extends "base.html" %}

{% block head %}
<title>Notes by Thiago Campos</title>
<meta name="description" content="In 'Notes,' words dance in verses, blending technique and poetry. Each post is a digital serenade, where ideas and feelings embrace in harmony. Between developer experiences and glimpses of everyday life, 'Notes' is the music of words, a unique life composition." />
<link rel="stylesheet"  href="{{ get_url(path='pages/blog.css', trailing_slash=false) | safe }}"  />
{% endblock head %}

{% block content %}
<main class="page__container"> 
  <a href="/" class="page__return"><- Go back to Home</a>
  <section class="content__container">
    <h1 class="content__title">
      {{ section.title }}
    </h1>
    <ul class="content__listing">
      <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
      {% for page in section.pages %}
      <li class="content__list-item">
        <span>{{ page.extra.longDate }}</span>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock content %}
{% block footer %}
{% include "license.html" %}
{% endblock footer %}
