{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} | Thiago Campos</title>
<meta name="description" content="{{ page.extra.summary }}" />
<link rel="stylesheet" href="{{ get_url(path="pages/escrito.css", trailing_slash=false) | safe }}" />
{% endblock head %}

{% block content %}
<main class="page__container">
  <section class="content__container">
    <a href="{{ get_url(path='portfolio') }}" class="page__return"><- Voltar para Portfólio</a>
    <h1 class="content__title" style="margin-bottom: 0; font-size: 64px;">
      {{ page.title }}
    </h1>
    <span class="content__quick-view" style="margin-bottom: 0rem;">{{ page.extra.quickView }}</span>
    {{ page.content | safe }}
  </section>
</main>
{% endblock content %}
{% block footer %}
{% include "license.html" %}
{% endblock footer %}