.main {
    gap: 1.5rem;
    display: flex;
    padding: 6rem;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.highlight {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.date {
    font-style: normal;
    font-family: var(--font-family-body);
    color: var(--label-primary-disabled);
}

.text {
    font-size: var(--font-size-32);
    font-weight: 500;
}

.spotifyWrapper {
    gap: 1rem;
    width: 100%;
    display: flex;
}

.spotify {
    max-width: 100%;
    height: 352px; 
    border-radius: 1rem;
}

.photosWrapper {
    gap: 1rem;
    width: 100%;
    display: flex;
}

.photosWrapper > img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      min-height: 100vh;
    }

    .spotifyWrapper {
        flex-direction: column;
    }
}