:root {
    color-scheme: light dark;
    --fill-primary-default: #E6E6E6;
    --fill-primary-hover: #DADADA;
    --fill-primary-disabled: #E4E4E4;

    --fill-accent-default: #0066FF;
    --fill-accent-hover: #0047B3;
    --fill-accent-disabled: #80B3FF;

    --label-primary-default: #272727;
    --label-primary-disabled: #585656;

    --label-accent-default: #004BBD;
    --label-accent-hover: #00378A;

    --background-primary: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fill-primary-default: #333333;
        --fill-primary-hover: #414141;
        --fill-primary-disabled: #404040;

        --fill-accent-default: #0066FF;
        --fill-accent-hover: #0047B3;
        --fill-accent-disabled: #80B3FF;

        --label-primary-default: #FFFFFF;
        --label-primary-disabled: #585656;

        --label-accent-default: #0066FF;

        --background-primary: #161616;;
    }
}