@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto+Mono:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --font-family-title: 'Playfair Display', serif;
    --font-family-body: 'Inter', sans-serif;
    --font-family-accent: 'Playfair Display', serif;
    --font-family-code: 'Roboto Mono', monospace;
    
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    
    --font-size-64: 4rem;
    --font-size-48: 3rem;
    --font-size-40: 2.5rem;
    --font-size-36: 2.25rem;
    --font-size-32: 2rem;
    --font-size-24: 1.5rem;
    --font-size-20: 1.25rem;
    --font-size-18: 1.125rem;
    --font-size-16: 1rem;
    --font-size-14: 0.875rem;
    
    --font-letter-spacing-title: -1.44px;
    --font-letter-spacing-body: -0.54px;  
}

@media only screen and (max-width: 768px) {
    :root {
        --font-size-64: 3rem;
        --font-size-48: 2.5rem;
        --font-size-40: 2.25rem;
        --font-size-36: 2rem;
        --font-size-32: 1.5rem;
        --font-size-24: 1.25rem;
        --font-size-20: 1.125rem;
        --font-size-18: 1rem;
        --font-size-16: 0.875rem;
        --font-size-14: 0.75rem;
    }
  }