.containerWrapper {
    height: max-content;
    width: max-content;
    padding: 0;
}

.titleWrapper {
    padding: 1rem;
}

.title {
    font-size: var(--font-size-128);
    color: var(--label-primary-default);
}

.textWrapper {
    padding: 1rem;
}


.warning {
    font-size: var(--font-size-20);
}
  
.warning > span {
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-family-body);
}