.container {
    gap: .5rem;
    display: flex;
    width: 50%;
    text-decoration: none;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: var(--container-padding);
    background-color: var(--fill-primary-default);
}

.container:hover {
    transition: 0.5s;
    background-color: var(--fill-primary-hover);
}

.title {
    text-decoration: none;
    color: var(--label-primary-default);
    font-weight: var(--font-weight-600);
    font-family: var(--font-family-body);
}

.content {
    color: var(--label-primary-default);
    font-family: var(--font-family-body);
}

.date {
    font-family: var(--font-family-body);
    font-size: var(--font-size-14);
    color: var(--label-primary-disabled);
}