.spotifyWrapper {
    gap: 1rem;
    width: 100%;
    display: flex;
}

.spotify {
    width: 100%;
    height: 352px; 
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    .spotifyWrapper {
        flex-direction: column;
    }
}