.main {
    padding: 6rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.title {
    font-size: var(--font-size-64);
}

.date {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-18);
    color: var(--label-primary-disabled);
}

.content {
    margin-top: 2rem;
    font-size: var(--font-size-20);
    font-family: var(--font-family-body);
}

@media only screen and (max-width: 768px) {
    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      min-height: 100vh;
    }
}