.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;
}

.headline {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  .title {
    font-size: var(--font-size-48);
  }
  .title > span {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
  }
  .subtitle {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-body);
  }
}