.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.headline {
  .title {
    color: var(--label-primary-primary, #272727);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .subtitle {
    color: var(--label-primary-disabled, #585656);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    letter-spacing: -0.48px;
  }
  .accent {
    font-weight: 700;
    font-style: italic;
  }
}
