.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.headline {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  .title {
    font-size: var(--font-size-48);
  }
  .subtitle {
    font-size: var(--font-size-18);
  }
}
