.page__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading__title {
  font-size: var(--font-size-80);
  font-weight: var(--font-weight-400); 
}

.heading__anchor {
  transition: .5s;
  font-style: italic;
  color: var(--label-primary--default);
  font-family: var(--font-family-title);
  line-height: var(--font-line-height-title);
}

.heading__anchor:focus, .heading__anchor:hover {
  font-style: normal;
}
