.page__container {
  margin: 0 auto;
  padding: var(--page-padding);
}

.content__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__title {
  font-size: var(--font-size-48);
  letter-spacing: var(--font-letter-spacing-subtitle); 
}

.content__subtitle {
  color: var(--label-accent-disabled);
  font-weight: var(--font-weight-400);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height-body);
}

.content__container {
  margin: auto;
  max-width: 768px;
 
  p {
    width: fit-content;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-22);
  }
}

.content__footer {
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  align-items: flex-start;
}
 
.content__footer-signature {
  margin-top: 0;
  font-style: italic;
  font-size: var(--font-size-20);
}

.content__footer-actions {
  gap: .5rem;
  width: 100%;
  display: flex;
}

.content__footer-email, .content__footer-up {
  transition: .5s;
  display: block;
  font-weight: 500;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: var(--background-primary);
  background-color: var(--fill-accent-default);
}

.content__footer-email {
  background-color: var(--fill-primary-default);
  color: var(--label-secondary-default);
}

.content__footer-up:focus, .content__footer-up:hover {
  background-color: var(--fill-accent-hover);
}

.content__footer-email:focus, .content__footer-email:hover {
  background-color: var(--fill-primary-hover);
}

@media screen and (max-width: 768px) {
  .content__container {
    width: 100%;
  }

  .content__footer {
    gap: 1rem;  
    flex-direction: column;
    align-items: flex-start;
  }

  .content__footer-actions {
    flex-direction: column;
  }
}
