.section {
  margin: 0 auto;
  
  p {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-22);
  }

  span {
    font-style: normal;
    font-weight: 500;
    font-family: "Inter";
    font-size: var(--font-size-16);
    color: var(--label-primary-disabled);
  }
}

.container {
  gap: 0.5rem;
  margin: auto;
  display: flex;
  max-width: 768px;
  flex-direction: column;
}


.title {
  font-size: var(--font-size-48); 
}
