@import '../foundations/grid';

.content__title {
  margin-bottom: 2rem;
  letter-spacing: -2.16px;
  font-size: var(--font-size-64); 
}

.content__listing {
  margin: 0;
  list-style: none;
  padding-left: 0rem;
}

.content__list-item {
  gap: 2rem;
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  font-size: var(--font-size-22);
}

.content__list-item > span {
  font-style: normal;
  font-size: var(--font-size-20);
  font-family: var(--font-family-body);
  color: var(--label-primary-disabled);
}

@media screen and (max-width: 768px) {
  .page__container {
    gap: 1rem;
  }

  .content__listing {
    padding-left: 0;
  }

  .content__list-item {
    gap: 0.5rem;
    align-items: flex-start;
    flex-direction: column;
  }
}
