.page__container {
    margin: 0 auto;
  }
  
.page__return {
    width: fit-content;
}
  
.content__title {
  font-size: var(--font-size-48);
  letter-spacing: var(--font-letter-spacing-subtitle); 
}

.content__subtitle {
  color: var(--label-accent-disabled);
  font-weight: var(--font-weight-400);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height-body);
}

.content__container {
  width: 60%;
  margin: auto;

  h2, h3, h4, h5, h6, .card__title {
    font-family: var(--font-family-body);
    letter-spacing: var(--font-letter-spacing-body);
  }

  .card__title {
      width: 100%;
      font-size: var(--font-size-20);
  } 
}

.card__container {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--fill-accent-default);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.content__footer {
  display: flex;
  margin-top: 2rem;
  align-items: flex-end;
  justify-content: space-between;
}

.content__footer-signature {
  margin: 0;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .content__container {
    width: 100%;
  }

  .content__footer {
    gap: 1rem;  
    flex-direction: column;
    align-items: flex-start;
  }
}
  