:root {
  --font-family-title: 'Apple Garamond', serif;
  --font-family-body: 'Inter', sans-serif;
  --font-family-accent: 'Apple Garamond', sans-serif;

  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;

  --font-size-64: 4rem;
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-36: 2.25rem;
  --font-size-32: 2rem;
  --font-size-28: 1.75rem;
  --font-size-24: 1.5rem;
  --font-size-22: 1.375rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;

  --font-letter-spacing-title: -2.88px;
  --font-letter-spacing-body: -0.54px;

  --font-line-height-title: 105%;
  --font-line-height-body: 100%;
}

@media only screen and (max-width: 768px) {
  :root {
    --font-size-64: 3rem;
    --font-size-48: 2.5rem;
    --font-size-40: 2.25rem;
    --font-size-36: 2rem;
    --font-size-32: 1.75rem;
    --font-size-28: 1.5rem;
    --font-size-24: 1.375rem;
    --font-size-22: 1.25rem;
    --font-size-20: 1.125rem;
    --font-size-18: 1rem;
    --font-size-16: 0.875rem;
    --font-size-14: 0.75rem;
  }
}

// Inter
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('fonts/Inter/Inter-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Italic.woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-MediumItalic.woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-BoldItalic.woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Garamond
@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/Garamond/AppleGaramond.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/Garamond/AppleGaramond-Italic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/Garamond/AppleGaramond-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/Garamond/AppleGaramond-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/Garamond/AppleGaramond-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/Garamond/AppleGaramond-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
