.svg {
    fill: var(--label-primary);
}

.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading--title {
    font-weight: 400;
    color: var(--label-primary);
    font-size: 3.5rem;
}

.color-accent {
    margin: 0;
    color: var(--label-primary);
}

header, footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav a {
    color: var(--label-primary);
}

footer > nav {
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    :root {
        --page-padding: .75rem;
    }

    header {
        gap: 2rem;
        flex-direction: column;
        padding: 1rem 0;
        border-top: .125rem var(--label-primary) solid;
        border-bottom: .125rem var(--label-primary) solid;
    }

    header nav {
        align-content: space-between;
    }

    header > nav:first-child {
        display: none;
    }

    .heading--title {
        font-size: var(--font-size-48);
    }

    .svg {
        display: none;
    }

    .flex-center {
        width: 100%;
        text-align: justify;
    }
}
