{% extends "base.html" %}
{% block head %}
<title> Thiago Campos </title>
<meta name="description" content="Engenheiro de Software e entusiasta de design, atualmente residindo nas belas paragens da Mantiqueira de Bragança" /> 
<link rel="stylesheet" href="{{ get_url(path='homepage.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main>
    <section class="container--centered">
        <h1 class="heading--title"><b>404:</b> <i>Not found</i></h1>
    </section>
</main>
{% endblock content %}
