{% extends "base.html" %}
{% block head %}
<title> Thiago Campos </title>
<meta name="description" content="Engenheiro de Software e entusiasta de design, atualmente residindo nas belas paragens da Mantiqueira de Bragança" /> 
<link rel="stylesheet" href="{{ get_url(path='homepage.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}
{% block content %}
<main>
    <section class="space-between" arial-label="Secção de introdução">
        <nav>
            <a href="/">Thiago Campos</a>
            <a href="mailto:ola@thigcampos.com">ola@thigcampos.com</a>
        </nav>
        <div class="flex-center">
            <h1 class="heading--title">Engenheiro de <i><b>software</b></i> aficionado por <i><b>design</b></i></h1>
            <p>
                Olá! Sou Thiago Campos, um engenheiro de software que reside nas belas paragens da Mantiqueira. 
                Minhas afinidades fazem-me crer que estar na interseção entre a tecnologia e as humanidades 
                confere aos meus projetos um propósito que transcende a tecnologia como um mero fim em si mesma.
            </p>
        </div>
        <nav>
            <a href="{{ get_url(path='@/escritos/_index.md') }}">Escritos</a>
            <a href="{{ get_url(path='@/liricos/_index.md') }}">Líricos</a>
        </nav>
    </section>
    <section id="frase" class="column-center" arial-label="Secção de rodapé">
        <h1 class="heading--title">From <b><i>Brazil</i></b> with Love</h1>
    </section>
</main>
{% endblock content %}
