{% extends "base.html" %}
{% block head %}
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" /> 
<link rel="stylesheet" href="/styles/homepage.css" /> 
{% endblock head %}
{% block content %}
<main>
    <section class="space-between" aria-label="Secção de introdução">
        <header>
            <nav>
                <a href="/">Thiago Campos</a>
            </nav>
            <nav>
                <a href="/escritos/">Escritos</a>
                <a href="/liricos/">Liricos</a>
                <a href="/curadoria/">Curadoria</a>
            </nav>
        </header>
        <div class="flex-center">
            <h1 class="heading--title">
                <svg class="svg" height="50" width="50" xmlns="http://www.w3.org/2000/svg">
                    <circle r="20" cx="20" cy="30"/>
                </svg>  
                Olá! Sou <b>Thiago Campos</b>, um engenheiro de software aficionado por 
                design que reside nas belas paragens da Mantiqueira. Minhas afinidades 
                fazem-me crer que estar na interseção entre a tecnologia e as humanidades 
                confere aos meus projetos um propósito que transcende a tecnologia como um 
                mero fim em si mesma.
            </h1>
        </div>
        <footer>
            <nav>
                <a href="https://github.com/brasilisclub/resma" target="_blank">Feito com <b>Resma</b></a>
                {% include "partials/social.html" %}
            </nav>
        </footer>
    </section>
    <section aria-label="Secção de introdução" class="column-center">
            <h1 class="heading--title">
                <i>Proudly made in Brazil</i>
            </h1>
    </section>
</main>
{% endblock content %}
