{% extends "base.html" %}

{% block head %}
<title>{{ term.name }} por Thiago Campos</title>
<meta name="description" content="Aqui apresenta-se todas as publicações do assunto {{ term.name }}" />
<link rel="stylesheet" href="{{ get_url(path='listing.css', trailing_slash=false) | safe }}" />
{% endblock head %}

{% block content %}
<main> 
    <section class="section__container--column">
        <div>
            <a href="/assunto" class="page__return"><- Voltar para Assuntos</a>
            <h1 class="content__title">
                {{ term.name }}
            </h1>
            <ul class="content__listing">
                {% for page in term.pages %}
                <li class="content__list-item">
                    <span>{{ page.date }}</span>
                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
{% endblock content %}
