{% extends "base.html" %}

{% block head %}
<title>Assunto</title>
<meta name="description" content="Aqui apresenta-se uma lista com todos os assuntos publicados em meus blogues" />
{% endblock head %}

{% block content %}
<main> 
    <section class="flex-column">
        <ol aria-label="Assuntos">
            {% for term in terms %}
            <li>
                <span>{{ term.page_count }} Arquivo(s)</span>
                <a href="{{ term.path | safe }}">{{ term.name }}</a>
            </li>
            {% endfor %}
        </ol>
    </section>
</main>
{% endblock content %}
{% block footer %}
{% include "partials/license.html" %}
{% endblock footer %}
