{% extends "base.html" %}

{% block head %}
<title>{{ term.name }} por Thiago Campos</title>
<meta name="description" content="Aqui apresenta-se todas as publicações do assunto {{ term.name }}" />
{% endblock head %}

{% block content %}
<main> 
    <section class="flex-column">
        <a href="/assunto" class="button"><- Voltar para Assuntos</a>
        <ol aria-label="{{ term.name }}">
            {% for page in term.pages %}
            <li>
                <span>{{ page.date }}</span>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ol>
    </section>
</main>
{% endblock content %}
