.container {
    gap: 0.5rem;
    border: none;
    display: flex;
    width: max-content;
    border-radius: 1rem;
    align-items: center;
    text-decoration: none;
    padding: var(--container-padding);
    background-color: var(--fill-primary-default);
}

.container:hover {
    transition: 0.5s;
    background-color: var(--fill-primary-hover);
}

.container > svg {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--label-primary-default);
}

.text {
    font-size: var(--font-size-20);
    color: var(--label-primary-default);
    font-weight: var(--font-weight-400);
}

.outline {
    background-color: transparent;
    border: 1.5px solid var(--label-accent-default);
}

.outline:hover {
    transition: 0.5s;
    background-color: transparent;
    border-color: var(--label-accent-hover);
    
    .text {
       color: var(--label-accent-hover); 
    }
}

.outline > svg {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--label-accent-default);
}

.outline > p {
    color: var(--label-accent-default);
}
