{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="post.css", trailing_slash=false) | safe }}" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ get_url(path="mobile/post.css", trailing_slash=false) | safe }}" crossorigin="anonymous" media="screen and (max-width: 600px)" /> 
<title>{{ page.title }} | Escritos</title>
{% endblock head %}

{% block content %}
<section class="section">
  <div class="container">
    <a href="{{ get_url(path='blog') }}"><- Voltar para Escritos</a>
    <h1 class="title">
      {{ page.title }}
    </h1>
    <span>{{ page.extra.longDate}}</span>
    {{ page.content | safe }}
  </div>
</section>
{% endblock content %}
