.container {
    gap: 1rem;
    display: flex;
    width: max-content;
    border-radius: 1rem;
    align-items: center;
    text-decoration: none;
    padding: var(--container-padding);
    background-color: var(--fill-primary-default);
}

.container:hover {
    transition: 0.5s;
    background-color: var(--fill-primary-hover);
}

.container > svg {
    height: 1.5rem;
    width: 1.5rem;
}

.text {
    font-size: var(--font-size-20);
    color: var(--label-accent-default);
    font-weight: var(--font-weight-400);
    
}
