// You might want to delete, at-least, one of the following group of variables

// Default color-scheme
:root {
  color-scheme: light dark;
  --fill-primary-default: #F7F7F7;
  --fill-primary-hover: #EFEFEF;
  --fill-primary-disabled: #E0E0E0;

  --fill-accent-default: #0000EE;
  --fill-accent-hover: #0000CC;
  --fill-accent-disabled: #143E31;

  --label-primary-default: #191919;
  --label-primary-hover: #4C4C4C;
  --label-primary-disabled: #7F7F7F;

  --label-accent-default: #191919;
  --label-accent-hover: #4C4C4C;
  --label-accent-disabled: #7F7F7F;

  --background-primary: #FFFFFF;
}

// Light color-scheme
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --fill-primary-default: #F7F7F7;
    --fill-primary-hover: #EFEFEF;
    --fill-primary-disabled: #E0E0E0;

    --fill-accent-default: #0000EE;
    --fill-accent-hover: #0000CC;
    --fill-accent-disabled: #143E31;

    --label-primary-default: #191919;
    --label-primary-hover: #4C4C4C;
    --label-primary-disabled: #7F7F7F;

    --label-accent-default: #191919;
    --label-accent-hover: #4C4C4C;
    --label-accent-disabled: #7F7F7F;

    --background-primary: #FFFFFF;
  }
}

// Dark color-scheme
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fill-primary-default: #F7F7F7;
    --fill-primary-hover: #EFEFEF;
    --fill-primary-disabled: #E0E0E0;

    --fill-accent-default: #0000EE;
    --fill-accent-hover: #0000CC;
    --fill-accent-disabled: #143E31;

    --label-primary-default: #191919;
    --label-primary-hover: #4C4C4C;
    --label-primary-disabled: #7F7F7F;

    --label-accent-default: #191919;
    --label-accent-hover: #4C4C4C;
    --label-accent-disabled: #7F7F7F;

    --background-primary: #FFFFFF;
  }
} 
