@import 'measures';

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;

  color: var(--label-primary-default);
  background: var(--background-primary);
}

main {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

nav, .nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

section, .section {
  min-height: 100vh;
  box-sizing: border-box;
  padding: var(--page-padding);
}

.section--container-column {
  display: flex;
}

.section--container-spaced-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section--container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  min-height: 100vh;
  box-sizing: border-box;
  padding: var(--page-padding);
}

footer {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

